body{
    background-image: url("/docs/img/fondo.png");
    background-size: cover;
}

#pantalla-principal {
    font-family: "Century Gothic", CenturyGothic;
    font-weight: bold;
}

:root {
    --principal: #030649;
    --secundario: #7872DA;
    --terciario: #D2D2D2;
    --fuente: "Century Gothic", CenturyGothic;
    --fuente2: 'Candara', Candara;
}

.principal-header #logo {
    display: block;
    margin-right: auto;
    width: 150px;
    height: 76px;
}

#frase {
    display: block;
    margin-top: 10px;
    margin-bottom: 30px;
    color: var(--principal);
    font-size: 50px;
    text-align: center;
    -webkit-text-stroke: 1px var(--secundario);
}

#info-usuario {
    display: flex;
    align-items: center;
    justify-content: center;
}

#info-usuario img {
    width: 159px;
    height: 159px;
}

.cuadro-texto {
    width: 159px;
    height: 229px;
    background: var(--secundario);
    color: #fff;
    text-shadow: 2px 2px #000;
    font-size: 23px;
    text-align: center;
    border-radius: 19px;
    margin-top: 23px;
    margin-right: 63px;
    border-style: solid;
    border-color: var(--principal);
    border-width: 2px;
    display: table;
}

#info-empleador .cuadro-texto {
    margin-right: 0px;
}

.texto-info {
    display: table-cell;
    vertical-align: middle;
}

#cab-info {
    display: flex;
}

.cab-btm {
    width: 120px;
    height: 35px;
    border-radius: 20px;
    margin-top: 15px;
    margin-right: 0px;
    background-color: var(--principal);
    color: #fff;
    font-family: var(--fuente);
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.spc {
    width: 140px;
}

#spc2 {
    width: 130px;
}

#texto-derechos {
    font-family: Arial;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 0px;
}

#pantalla-login {
    font-family: var(--fuente2);
}

#fondo-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

#formulario-login {
    width: 444px;
    height: 291px;
    display: inline-block;
    margin-top: 91px;
    background-color: var(--secundario);
    border-radius: 10px;
    box-shadow: 7px 13px 37px #000;
}

#texto-login {
    text-align: center;
    font-size: 30px;
    color: var(--principal);
}

.input-login {
    
    text-align: center;
}

.login-info {
    width: 317px;
    height: 44px;
    font-family: var(--fuente2);
    font-size: 19px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#entrar-login {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 317px;
    height: 44px;
    border-radius: 10px;
    background-color: var(--principal);
    font-family: var(--fuente2);
    font-size: 19px;
    font-weight: bold;
    color: #fff;
}

.btn-footer {
    display: block;
    margin-top: 123px;
    margin-left: auto;
    background-color: var(--principal);
    color: #fff;
    font-family: var(--fuente);
    font-weight: bold;
    width: 102px;
    height: 32px;
    border-radius: 20px;
}

#formulario-registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 444px;
    height: 556px;
    background: #7872DA;
    margin: auto;
    margin-top: 10px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: none ;
    font-family: var(--fuente2);
    border-radius: 10px;
}

#texto-registro {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 5px;
    color: var(--principal);
    font-weight: bolder;
}

.texto-campos {
    color: #fff;
    font-size: 12px;
}

#name {
    width: 183px;
    height: 44px;
    margin-top: 14px;
    font-size: 19px;
    background-color: var(--terciario);
    border-radius: 10px;
}

#lastname {
    width: 183px;
    height: 44px;
    margin-top: 14px;
    font-size: 19px;
    margin-left: 6px;
    background-color: var(--terciario);
    border-radius: 10px;
}

.data {
    width: 381px;
    height: 44px;
    margin-top: 14px;
    font-size: 19px;
    background-color: var(--terciario);
    border-radius: 10px;
}

::placeholder {
    font-family: var(--fuente2);
}

.selection {
    display: block;
    margin-right: auto;
    margin-left: 32px;
    margin-top: 14px;
    font-size: 20px;
}

.btnGenre {
    background-size: 50px;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.op-select {
    font-family: var(--fuente2);
    width: 121px;
    height: 44px;
    border-radius: 10px;
    font-size: 19px;
    margin-left: 0px;
    margin-right: 10px;
}

#btn-crear {
    font-family: 'Candara', Candara;
    margin-top: 32px;
    font-size: 22px;
    color: #fff;
    background-color: var(--principal);
    border-radius: 10px;
    width: 317px;
    height: 44px;
    font-weight: bold;
}

.cuadro-genero {
    display: flex;
}

.inv-genero {
    background-color: #fff;
    border-radius: 10px;
    margin-right: 15px;
    width: 121px;
    height: 44px;
}

#ir-inicio-registro {
    margin-top: 10px;
}


#img-perfil {
    width: 190px;
    height: 190px;
}

#img-subir {
    width: 127px;
    height: 95px;
    margin-bottom: 20px;
}

#subir-foto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    width: 444px;
    height: 520px;
    background-color: var(--secundario);
    border-radius: 10px;
    box-shadow: 7px 13px 37px #000;
}

#texto-foto-1 {
    font-family: var(--fuente2);
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #fff;
}

#texto-foto-2 {
    font-family: var(--fuente2);
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: var(--principal);
    margin-bottom: 10px;
    margin-top: 5px;
}


#btn-foto-continuar {
    margin-top: 0px;
}

#espacio-confirmado {
    margin-top: 62px;
    width: 508px;
    height: 349px;
    background-color: var(--secundario);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 7px 13px 37px #000;
}

#texto-confirmado1 {
    font-family: var(--fuente2);
    font-weight: bold;
    color: #fff;
    font-size: 48px;
}

#texto-confirmado2 {
    margin-top: 0px;
    font-family: var(--fuente2);
    font-weight: bold;
    color: var(--principal);
    font-size: 25px;
    text-align: center;
}

#ir-inicio-confirmado {
    background-color: var(--principal);
    color: #fff;
    font-family: var(--fuente);
    font-weight: bold;
    width: 180px;
    height: 63px;
    font-size: 24px;
    border-radius: 30px;
    margin-top: 10px;
}

.link {
    color: #fff;
    text-decoration: none;
}