body{
  font-family: 'Candara', Candara;
  margin: 0;
  padding: 0;
  background: #030649 ;
  background-size: cover;
  background-attachment: fixed;
}

*{
  box-sizing: border-box;
}

.contenedor {
  padding: 15px;
  display: flex;
  justify-content: space-around;
}

#img1 {
  position: relative;
  width: 381px;
  height: 127px;
}

.clockdate {
  background-color: white;
  width: 300px;
  margin-top: 31px;
  text-align: center;
  border-radius: 16px;
}

#clock {
  background-color: white;
  font-family: "Century Gothic", CenturyGothic;
  font-size: 30px;
  text-shadow: 0px 0px 1px #fff;
  color: #030649;
  border-radius: 16px;
}

#clock span {
  color:#888;
  text-shadow:0px 0px 1px #333;
  font-size:20px;
  position:relative;
  margin-top:20%;
  left:-2px;
}

#date {
  letter-spacing:10px;
  font-size:14px;
  font-weight: bold;
  font-family: "Century Gothic", CenturyGothic;
  color:#030649;
}

#img2 {
  position: relative;
  width: 127px;
  height: 63px;
  margin-top: 32px;
  cursor: pointer;
}

#img3 {
  position: relative;
  width: 150px;
  height: 75.32px;
  margin-top: 26px;
}

.opciones {
  display: flex;
  justify-content: center;
}

.btn-ew {
  width: 295px;
  height: 60px;
  color: #030649;
  background-color: #C4C4C4;
  border-radius: 5px;
  margin-right: 20px;
  font-size: 30px;
  font-weight: bold;
  border: 0;
}

.union {
  width: 295px;
  height: 10px;
  background-color: #C4C4C4;
  position: absolute;
  display: none;
  top: 212px;
}


.btn-3 {
  margin-right: 0px;
}

button.active.focus, button.active:focus,
button.focus, button:active.focus, 
button:active:focus, button:focus {
  outline: none;
}

.BuscarTrabajo {
  margin: 5px 40px 40px 40px;
  background-color: #C4C4C4;
  padding: 10px;
  border-radius: 10px;
}

.SeleccionTrabajo{
  background-color: #7872DA;
  text-align: center;
  padding: 40px;
}

.DetailJob {
  color: white;
  margin: 10px;
  background-color: #030649;
  border-radius: 10px;
  height: 45px;
  width: 200px;
  left: 100px;
}

.ContentDetailJob {
  color: black;
  margin: 10px;
  background-color: #C4C4C4;
  border-radius: 10px;
  height: 45px;
  width: 690px;
  left: 360px;
}

.card-containerjob {
  display: grid;
  grid-template-columns: repeat(auto-fill, 19%);
  grid-gap: 15px;
  justify-content: center;
}

.InfOficio{
  color: #7872DA;
  background-color: #030649;
  margin-block-end: 40px;
  margin-left: 40px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 40px;
}

.btnAceptar {
  color: white;
  background-color: #030649;
  border-radius: 30px;
  border-style: hidden;
  padding: 10px;
}

.btnRechazar {
  color: #030649;
  background-color: #C4C4C4;
  margin-left: 40px;
  border-radius: 30px;
  border-style: hidden;
  padding: 10px;
}

.tipoTrabajo{
  display: flex;
  justify-content: space-evenly;
}

.img {
  height: 300px;
  width: 300px;
  border-radius: 30px;
  margin-block-end: 40px;
}